# Ignore "/.idea" directory
/.idea/
# Ignore "/data" directory - those are dev resources (mainly offline pages)
/data/
# Ignore "/issue" directory - contains current issue sources, should be deleted after script completion
/issue/
# Ignore "/resources/mako_modules" directory - cache for compilated Mako templates
/resources/mako_modules
# Ignore "/respykt/config.ini" files - contains potentionaly secret data (like login details)
/respykt/config.ini
# Ignore "__pycache__" folder
__pycache__/*