[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
sphinx = "*"
pip = "*"
setuptools = "*"
wheel = "*"
twine = "*"

[packages]
requests = "*"
beautifulsoup4 = "*"
Mako = "*"

[requires]
python_version = "3.7"
