<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Respekt ${year}/${number} - Obsah</title>
    <link rel="stylesheet" href="resources/style.css" type="text/css"/>
</head>
<body>
<h2>Respekt ${year}/${number} - Obsah</h2>

<div>
    <h3><a href="title.html">Obálka</a></h3>
    % for category in categories:
    <h3><a href="text/${category['articles'][0]['filename']}">${category["name"]}</a></h3>
    <ul>
        % for article in category["articles"]:
        <li><a href="text/${article['filename']}">${article["title"]}</a></li>
        % endfor
    </ul>
    % endfor
</div>

% if username is not None and username != "":
<div>
    Toto vydání bylo generováno pro uživatele &quot;${username}&quot;. Děkujeme, že tento soubor nešíříte dále.
</div>
% endif
</body>
</html>