<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Table of Contents</title>
</head>
<body>
<h1>Table of Contents</h1>

<div>
    <h3><a href="files/formated_article_00.html">Sekce číslo 1</a></h3>
    <ul>
        <li><a href="files/formated_article_00.html">Nafoukni si největšího Čecha, až praskne</a></li>
        <li><a href="files/formated_article_01.html">Zelený Raoul č. 879 - ZDŠ: Základní Dobešova škola</a></li>
        <li><a href="files/formated_article_02.html">Svoboda dobývá ODS ...</a></li>
        <li><a href="files/formated_article_03.html">... A svobodu dobyla čtyřka</a></li>
        <li><a href="files/formated_article_04.html">Jen německo - francouzský diktát</a></li>
        <li><a href="files/formated_article_05.html">Slovenská gorila porodila</a></li>
        <li><a href="files/formated_article_06.html">Mrazivé probuzení</a></li>
        <li><a href="files/formated_article_07.html">Strýček Lin: rebel - komunista</a></li>
    </ul>

    <h3><a href="files/formated_article_08.html">Sekce číslo 2</a></h3>
    <ul>
        <li><a href="files/formated_article_08.html">Na cestě k Evropské vládě</a></li>
        <li><a href="files/formated_article_09.html">Žádná izolace</a></li>
        <li><a href="files/formated_article_10.html">Rozdíl mezi Řeckem a Francií?</a></li>
        <li><a href="files/formated_article_11.html">Průser dvou senátorů</a></li>
        <li><a href="files/formated_article_12.html">Češi smějte se víc</a></li>
        <li><a href="files/formated_article_13.html">Praha tehdy (1991) a teď (2012)</a></li>
        <li><a href="files/formated_article_14.html">Zabil jsem Heydricha</a></li>
        <li><a href="files/formated_article_15.html">Byli to frajeři</a></li>
    </ul>

    <h3><a href="files/formated_article_16.html">Sekce číslo 3</a></h3>
    <ul>
        <li><a href="files/formated_article_16.html">Nedostatkem hrdinů netrpíme</a></li>
        <li><a href="files/formated_article_17.html">Kotek, Polívka, Kohák, vtip?</a></li>
        <li><a href="files/formated_article_18.html">Kolik dětí se ještě udusí?</a></li>
        <li><a href="files/formated_article_19.html">Klídek jako program</a></li>
        <li><a href="files/formated_article_20.html">Už je toho nad hlavu!</a></li>
        <li><a href="files/formated_article_21.html">Učte se řeči, budete chytří</a></li>
        <li><a href="files/formated_article_22.html">Palach je můj osud</a></li>
        <li><a href="files/formated_article_23.html">Láska, sex a zatracení</a></li>
    </ul>

    <h3><a href="files/formated_article_24.html">Sekce číslo 4</a></h3>
    <ul>
        <li><a href="files/formated_article_24.html">Tichý Don a Hitlerovo porno</a></li>
        <li><a href="files/formated_article_25.html">Never more</a></li>
        <li><a href="files/formated_article_26.html">V Manchesteru to žije</a></li>
        <li><a href="files/formated_article_27.html">Lékař je bohulibý práskač?</a></li>
        <li><a href="files/formated_article_28.html">Vůně ztracených let</a></li>
        <li><a href="files/formated_article_29.html">Glosy</a></li>
        <li><a href="files/formated_article_30.html">Zlodějina nebo svoboda?</a></li>
        <li><a href="files/formated_article_31.html">Stahujete? Nestahujete? Kam patříte?</a></li>
    </ul>

    <h3><a href="files/formated_article_32.html">Sekce číslo 5</a></h3>
    <ul>
        <li><a href="files/formated_article_32.html">Autoři versus internet</a></li>
        <li><a href="files/formated_article_33.html">Tupani v přestrojení</a></li>
        <li><a href="files/formated_article_34.html">Lana del Rey</a></li>
        <li><a href="files/formated_article_35.html">Městské kmeny</a></li>
        <li><a href="files/formated_article_36.html">Polární slepice</a></li>
        <li><a href="files/formated_article_37.html">Někteří nic neví, ale mluví a mluví</a></li>
    </ul>

</div>
</body>
</html>